@import "../variables";

@media screen {
  .top-competition-data {
    padding-top:70px;
    background-color:#1D1E20;
    .heading {
      position:relative;
      .right-border {
        right: 0;
      }
      .left-border {
        left: 0;
      }
      .right-border,
      .left-border {
        position: absolute;
        top:0;
        bottom:0;
        height: 1px;
        width:230px;
        margin: auto;
        background-color:#505050;
      }
    }
    .top-data {
      font-family: $fontBarlow;
      font-weight: 500;
      font-size:17px;
      line-height: 24px;
      margin-top:30px;
    }
  }
  .range-quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
    .slider-subtract,
    .slider-addition {
      margin: 0;
      padding: 0;
      max-width: 40px;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: none;
      border: 0;
      border-radius: 3px;
      font-size: 20px;
    }
    .range-wrap {
      position: relative;
      width: 100%;
      .bubble {
        background: #fff;
        color: #1F2124;
        padding: 4px 12px;
        position: absolute;
        border-radius: 4px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 35px;
        z-index: 1;
        font-size: 12px;
        min-width: 99px;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          background: #fff;
          bottom: -7px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
        }
      }
      .slider-quantity {
        position: relative;
        -webkit-appearance: none;
        // max-width: 530px;
        width: 100%;
        height: 12px;
        background: #575757;
        outline: none;
        border-radius: 10px;
        -webkit-transition: .2s;
        transition: opacity .2s;
        opacity: 1;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background: #DFCD83;
          cursor: pointer;
          border-radius: 50%;
          border: 3px solid #fff;
          // box-shadow: -530px 0 0 520px #DFCD83;
          margin-top:-3px;
        }
      }
    }
  }
  .e-atc-qty-button-holder {
    padding-top: 36px;
    div.quantity {
      display: none;
    }
    .range-quantity {
      margin-bottom: 15px;
    }
  }
  .question-ans {
    h4 {
      font-family: $fontBarlow;
      font-size:25px;
      line-height: 100%;
      font-weight: bold;
      color: #fff;
      margin-bottom:15px;
    }
    .competition-answer-list {
      padding:0;
      margin:0;
      font-size:0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content:center;
      justify-content: space-between;
      li {
        flex: 1;
        .competition_answer {
          appearance: none;
          height: 0;
          visibility: hidden;
          // display: none;
          &:checked {
            + label {
              background-color:#DFCD83;
              color: #000;
            }
          }
        }
        label {
          font-family: $fontBarlow;
          font-size: 18px;
          font-weight: bold;
          color:#fff;
          border: 1px solid #7D7D7D;
          border-radius: 5px;
          background-color: #1D1E20;
          max-width: 200px;
          width: 100%;
          text-align: center;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor:pointer;
        }
      }
    }
    small {
      font-family: $fontBarlow;
      font-weight: bold;
      font-size:13px;
      line-height: 100%;
      margin-top:8px;
      color:#969696;
      display: inline-block;
      a {
        color: #DFCD83;
        text-decoration:none;
        transition:.3s;
        &:hover {
          transition:.3s;
          color: #b6a76a;
        }
      }
    }
  }
  .competition-price-wrapper {
    padding-bottom:30px;
    .amount {
      color:#FFFA8B;
      font-size: 35px;
      font-weight: bold;
      font-family: $fontBarlowCondensed;
    }
    small {
      margin-left:10px;
      font-size:24px;
      color:#fff;
    }
  }
  .elementor-section {
    .elementor-widget-container {
      .cart {
        flex-direction: column;
        .quantity {
          display: none;
        }
        .single_add_to_cart_button {
          margin-top: 35px;
          background-color: #52B77B;
          border-radius: 5px;
          height: 55px;
          max-width:640px;
          font-size:19px;
          font-family: $fontBarlow;
          font-weight: bold;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          text-transform: uppercase;
          padding:0 15px;
          &.button {
            &.alt {
              &.disabled {
                background-color: #52B77B;
              }
            }
          }
          &:disabled,
          &.disabled {
            background-color: #52B77B;
          }
          &:hover {
            background-color: #DFCD83;
          }
        }
      }
    }
  }
  .countdown-shortcode-wrap {
    border:1px solid #666666;
    border-radius: 6px;
    max-width:420px;
    width: 100%;
    margin: auto;
    padding: 10px 30px;
    background-color:#1D1E20;
    margin-top: 30px;
    .countdown {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .count-item {
        flex:1;
        text-align: center;
        .count-value {
          color: #fff;
          font-family: $fontBarlowCondensed;
          font-size:25px;
          line-height: 100%;
        }
        label {
          font-family: $fontBarlow;
          font-size:11px;
          color: #fff;
        }
      }
    }
  }
  .competition-ticket-progress-wrap {
    margin-top:20px;
    .ticket-infos {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px 14px;
      .info-item {
        padding: 0 20px;
        label {
          color: #FFFFFF;
          font-family: $fontBarlow;
          font-size: 13px;
          font-weight: 700;
          flex: 0 1 auto;
          line-height: 16px;
        }
      }
    }
    .progress-wrapper {
      background-color: #666666;
      border-radius: 5px;
      position: relative;
      .progress-bar {
        background: #DFCD83;
        border-radius: 5px;
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: center;
        overflow: visible;
        text-align: center;
        white-space: nowrap;
        width: 0;
        position: relative;
        .percentage-marker {
          border-radius: 50%;
          color: #000;
          font-family: $fontBarlow;
          font-size: 13px;
          font-weight: 700;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .placeholder-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        display: inline-block;
        width: 100%;
        color: #000;
        font-family: $fontBarlow;
        font-size: 13px;
        font-weight: 700;
        margin:0;
        text-align: center;
        background-color: rgba(0,0,0,0);
      }
    }
  }
}
