@media screen {
  .top-competition-data {
    padding-top:70px;
    background-color:#1D1E20;
    .heading {
      position:relative;
      padding-bottom:30px;
      .right-border {
        right: 0;
      }
      .left-border {
        left: 0;
      }
      .right-border,
      .left-border {
        position: absolute;
        top:0;
        bottom:0;
        height: 1px;
        width:230px;
        margin: auto;
        background-color:#505050;
      }
    }
  }
}
