.admin-shortcode-dashboard-wrapper {
    background: #fff;
    border: 1px solid #c3c4c7;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    max-width: 1300px;
    margin-top: 20px;
    padding: 0.7em 2em 1em;
    position: relative;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
